-- language servers

lua_ls
pyright
typescript-language-server
clangd
html
emmet_ls
cssls

-- debuggers

debugpy (pip install debugpy)
vscode-cpptools (https://github.com/microsoft/vscode-cpptools/releases, directory: ~/dev/cpptools-linux/)

-- external programs

ripgrep

-- for python if using pyright

flake8
autopep8

-- for go

gopls
